pool:
  vmImage: 'Ubuntu 16.04'

variables:
  buildConfiguration: 'Release'
  imageName: 'wiremock.net'
  buildProjects: '**/StandAlone.NETCoreApp.csproj'
  tag: '1.3.0'

steps:
# Build StandAlone.NETCoreApp
- task: DotNetCoreCLI@2
  displayName: Build StandAlone.NETCoreApp
  inputs:
    command: 'build'
    arguments: /p:Configuration=$(buildConfiguration)
    projects: $(buildProjects)

# Docker
- script: docker build -t $(DOCKER_ID)/$(imageName) -f ./StandAlone.NETCoreApp/Dockerfile ./StandAlone.NETCoreApp
  displayName: 'Build Docker image [$(imageName):latest]'

- script: docker tag $(DOCKER_ID)/$(imageName):latest $(DOCKER_ID)/$(imageName):$(tag)
  displayName: 'Tag Docker image [$(imageName):$(tag)]'

# https://stackoverflow.com/questions/51489359/docker-using-password-via-the-cli-is-insecure-use-password-stdin
- script: |
    echo "$(DOCKER_PWD)" | docker login --username $(DOCKER_ID) --password-stdin
    docker push $(DOCKER_ID)/$(imageName):latest
    docker push $(DOCKER_ID)/$(imageName):$(tag)
  displayName: 'Push Docker images [$(imageName):latest and $(imageName):$(tag)]'