pool:
  vmImage: 'vs2017-win2016'

variables:
  buildConfiguration: 'Release'
  imageName: 'wiremock.net-nano'
  imageName1803: 'wiremock.net-nanoserver-1803'
  buildProjects: '**/StandAlone.NETCoreApp.csproj'
  tag: '1.0.7'

steps:
# Build StandAlone.NETCoreApp
- task: DotNetCoreCLI@2
  displayName: Build StandAlone.NETCoreApp
  inputs:
    command: 'build'
    arguments: /p:Configuration=$(buildConfiguration)
    projects: $(buildProjects)

# Docker
- script: docker build -t $(DOCKER_ID)/$(imageName) -f ./StandAlone.NETCoreApp/Dockerfile.nano ./StandAlone.NETCoreApp
  displayName: 'Build Docker image [$(imageName):latest]'

- script: docker tag $(DOCKER_ID)/$(imageName):latest $(DOCKER_ID)/$(imageName):$(tag)
  displayName: 'Tag Docker image [$(imageName):$(tag)]'

- script: docker build -t $(DOCKER_ID)/$(imageName1803) -f ./StandAlone.NETCoreApp/Dockerfile.nanoserver-1803 ./StandAlone.NETCoreApp
  displayName: 'Build Docker image [$(imageName1803):latest]'

- script: docker tag $(DOCKER_ID)/$(imageName1803):latest $(DOCKER_ID)/$(imageName1803):$(tag)
  displayName: 'Tag Docker image [$(imageName1803):$(tag)]'

# https://stackoverflow.com/questions/51489359/docker-using-password-via-the-cli-is-insecure-use-password-stdin
# https://github.com/Microsoft/azure-pipelines-tasks/issues/6480#issuecomment-453765536
- script: |
    echo | set /p="$(DOCKER_PWD)" | docker login --username $(DOCKER_ID) --password-stdin
    docker push $(DOCKER_ID)/$(imageName):latest
    docker push $(DOCKER_ID)/$(imageName):$(tag)
    docker push $(DOCKER_ID)/$(imageName1803):latest
    docker push $(DOCKER_ID)/$(imageName1803):$(tag)
  displayName: 'Push Docker images [$(imageName)(latest,$(tag)) + $(imageName1803)(latest,$(tag))]'