<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--<add key="WireMock.Net" value="C:\dev\GitHub\WireMock.Net\src\WireMock.Net\bin\Release" />
    <add key="WireMock.Net.Abstractions" value="C:\dev\GitHub\WireMock.Net\src\WireMock.Net.Abstractions\bin\Release" />
    <add key="WireMock.Org.Abstractions" value="C:\dev\GitHub\WireMock.Net\src\WireMock.Org.Abstractions\bin\Release" />
    <add key="WireMock.Net.OpenApiParser" value="C:\dev\GitHub\WireMock.Net\src\WireMock.Net.OpenApiParser\bin\Release" />-->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>